# Dependencies
node_modules/
.pnp/
.pnp.js

# Testing
coverage/

# Next.js build output
.next/
out/
build/
dist/

# Misc
.DS_Store
*.pem
*.tsbuildinfo
next-env.d.ts

# Python & virtualenv
__pycache__/
*.py[cod]
*$py.class
*.so
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
venv/
env/
ENV/
.venv/

# IDE
.idea/
.vscode/
*.swp
*.swo
